#box-area {
    margin: 50px auto 0;
    width: 80vw;
    height: 130px;
    border-radius: 50px;
    background-color: var(--color-btn-banner);
}

#conteiner-box-area {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.single-box-area {
    width: calc((100% - 30px) / 3);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.single-box-area p {
    font-size: 32px;
    font-weight: bold;
}

.single-box-area span {
    font-size: 28px;
    color: var(--color-oro);
}

@media screen and (min-width: 1500px) {
    #box-area {
        margin: 100px auto 0;
    }
}