#box-area {
    margin: 100px auto;
    width: 80vw;
    height: 150px;
    border-radius: 50px;
    background-color: var(--color-btn-banner);
}

#conteiner-box-area {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.single-box-area {
    width: calc((100% - 30px) / 4);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.single-box-area span {
    color: var(--color-oro);
}