#catalogue-area {
    width: 80%;
    margin: 100px auto 50px;
}

#container-catalogue-responsive {
    display: none;
}

.catalogue {
    display: flex;
    height: 600px;
    align-items: center;
}

.image-catalogue {
    width: 50%;
    overflow: hidden;
    border: 4px solid var(--color-oro);
    box-shadow: 0 0 20px rgba(212, 175, 55, 0.8), 0 0 40px rgba(245, 230, 224, 0.6), 0 0 60px rgba(212, 175, 55, 0.4);
}

.image-catalogue img {
    width: 100%;
    height: 100%;
    transition: 0.5s ease-in-out;
}

.image-catalogue img:hover {
    transform: scale(1.2);
    transition: 0.5s ease-in-out;
}

.text-catalogue {
    width: 50%;
    text-align: center;
    padding: 0 50px;
}

.text-catalogue h2 {
    padding: 0 0 20px;
    color: var(--color-oro);
}

.text-catalogue .retta {
    width: 250px;
    margin: 0 auto 20px;
    background-color: var(--color-oro);
    position: static;
    left: 0;
}

.text-catalogue p {
    padding: 0 0 40px;
}

.order-1 {
    order: 2;
}

@media screen and (min-width:1600px) {
    #catalogue-area {
        margin: 100px auto 150px;
    }
}

@media screen and (max-width: 950px) {
    #catalogue-area {
        width: 90%;
        margin: 180px auto;
    }

    #container-catalogue-responsive {
        display: block;
    }

    #container-catalogue {
        display: none;
    }

    .image-catalogue {
        width: 80%;
        margin: 20px auto 50px;
    }

    .text-catalogue {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    #catalogue-area {
        width: 95%;
    }

    .image-catalogue {
        width: 100%;
        margin: 20px auto 50px;
    }

    .text-catalogue {
        text-align: start;
    }

    .text-catalogue h2 {
        font-size: 32px;
    }

    .text-catalogue .button-link {
        margin: 0;
    }
}