.collection-home {
    margin: 200px auto;
    width: 80vw;
    height: 600px;
    display: flex;
    align-items: center;
}

.image-container {
    position: relative;
    display: block;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
}

#img1 {
    width: 80%;
    height: 100%;
    margin-right: auto;
    display: block;
    object-fit: contain;
    overflow: hidden;
}

#img2 {
    position: absolute;
    width: 60%;
    height: 60%;
    right: 0%;
    top: 20%;
    will-change: transform;
    /* hint di performance */
    object-fit: cover;
    overflow: hidden;
}

#img3 {
    width: 80%;
    height: 100%;
    margin-left: auto;
    display: block;
    object-fit: contain;
    overflow: hidden;
}

#img4 {
    position: absolute;
    width: 60%;
    height: 60%;
    left: 0%;
    top: 20%;
    will-change: transform;
    object-fit: cover;
    overflow: hidden;
}

#img1 img {
    width: 100%;
    height: 100%;
}

#img2 img {
    width: 100%;
    height: 120%;
}

#img3 img {
    width: 100%;
    height: 100%;
}

#img4 img {
    width: 100%;
    height: 120%;
}

.text-collection1 {
    width: 40%;
    margin-left: auto;
    color: var(--color-nero-scritte);
}

.text-collection2 {
    width: 40%;
    margin-right: auto;
    color: var(--color-nero-scritte);
}

.collection-home .button-link {
    margin: 0px 0px;
}

.text-collection1 h2,
.text-collection2 h2 {
    font-size: 32px;
}

.text-collection1 p,
.text-collection2 p {
    color: var(--color-oro);
    font-size: 18px;
    font-weight: bold;
}

/* VALUTARE LA RIMOZIONE */
.retta {
    width: 85%;
    height: 1px;
    background-color: black;
    position: absolute;
    left: -5%;
}

@media screen and (min-width: 1600px) {

    .text-collection1 h2,
    .text-collection2 h2 {
        font-size: 52px;
    }

    .text-collection1 p,
    .text-collection2 p {
        font-size: 32px;
    }

    #img1 {
        height: 120%;
    }

    #img2 {
        height: 80%;
        right: -40px;
    }

    #img3 {
        height: 120%;
    }

    #img4 {
        height: 80%;
        left: -40px;
    }
}

@media screen and (max-width: 768px) {
    .collection-home {
        margin: 100px auto;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .text-collection1 {
        width: 90vw;
        margin-left: auto;
    }

    .text-collection2 {
        width: 90vw;
        margin-right: auto;
    }

    .text-collection1,
    .text-collection2 {
        padding-top: 50px;
    }

    .text-collection2 {
        order: 2;
    }

    .text-collection2+.image-container {
        order: 1;
    }

    .image-container {
        width: 90%;
    }

    #img1,
    #img3 {
        width: 75%;
    }

    #img2 {
        width: 60%;
        right: 10px;
    }

    #img4 {
        width: 60%;
        left: 0px;
    }
}

@media screen and (max-width: 425px) {

    .text-collection1 h2,
    .text-collection2 h2 {
        font-size: 28px;
    }

    .text-collection1 p,
    .text-collection2 p {
        font-size: 16px;
    }

    #img1,
    #img3 {
        width: 95%;
    }

    #img2 {
        width: 80%;
        right: -10px;
    }

    #img4 {
        width: 80%;
        left: -10px;
    }
}