#area-form {
    width: 80vw;
    margin: 0 auto;
    display: flex;
}

#tag-contact {
    width: 50%;
    min-height: 500px;
    align-content: center;
}

#tag-contact h2 {
    font-size: 32px;
    color: var(--color-nero-scritte);
}

#form-contact {
    width: 50%;
    min-height: 500px;
}

.ballon-row {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 100px;
    margin: 50px 0;
}

.ballon {
    padding: 20px 40px;
    text-align: center;
    align-content: center;
    border-radius: 150px;
    background-color: var(--color-btn-banner);
}

.ballon p:nth-child(1) {
    font-size: 28px;
    color: var(--color-oro);
    margin-bottom: 10px;
}

.ballon p:nth-child(2) {
    font-size: 24px;
    font-weight: bold;
    color: var(--color-nero-scritte);
}

#form-container {
    width: 60%;
    margin-left: auto;
    padding: 30px 20px;
    background-color: var(--color-btn-banner);
    border-radius: 100px;
}

#form-container h2 {
    font-size: 32px;
    color: var(--color-nero-scritte);
    text-align: center;
}

.form-input {
    display: flex;
    width: 100%;
    margin-bottom: 30px;
}

.fild-input {
    width: 80%;
    height: 30px;
    border-radius: 50px;
    border: none;
    padding: 10px 20px;
    margin: 0 auto;
}

.fild-input:focus {
    border-color: var(--color-oro);
    box-shadow: 0 0 4px var(--color-oro);
    outline: none;
}

form .button-link {
    background-color: var(--color-background);
    width: 90%;
    margin-bottom: 30px;
}

@media screen and (max-width:1354px) {
    .ballon-row {
        gap: 20px;
    }

    .ballon {
        padding: 10px 20px;
    }

    .ballon p:nth-child(1) {
        font-size: 24px;
        margin-bottom: 5px;
    }

    .ballon p:nth-child(2) {
        font-size: 20px;
    }

    #form-container {
        margin-right: 0;
        padding: 30px 20px;
    }
}

@media screen and (max-width:827px) {
    #area-form {
        flex-direction: column;
        align-items: center;
    }

    #tag-contact {
        width: 100%;
        min-height: 500px;
        align-content: center;
    }

    /* #form-contact {
        width: 80%;
        margin: 0 auto;
        align-items: center;
        align-self: center;
        align-content: center;
        
    } */

    #form-container {
        width: 100%;
        padding: 30px 20px;
        background-color: var(--color-btn-banner);
        border-radius: 100px;
    }
}