#cta-final {
    margin: 200px auto;
    width: 80vw;
    display: flex;
    height: 500px;
}

#logo-area {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#cta-area {
    display: flex;
    width: 50%;
    height: 100%;
    position: relative;
}

.container-img {
    width: 70%;
    height: 100%;
}

#logo-area .text-part-1 {
    display: block;
    color: var(--color-nero-scritte);
    font-size: 42px;
    font-weight: bolder;
    margin: 0;
}

#logo-area .text-part-2 {
    color: var(--color-oro);
}

#logo-area .cursor {
    background-color: var(--color-nero-scritte);
}

.rettangolo {
    width: 300px;
    height: 300px;
    border: 1px solid var(--color-oro);
    position: absolute;
    top: 15%;
    /* left: 50%; */
    right: 5%;
}

#cta-area img {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 10%;
    right: 0;
    z-index: 1;
}

#cta-area a {
    position: absolute;
    bottom: 0;
    right: 0;
}

#logo-area div h2,
#cta-area a {
    margin-bottom: 30px;
}

/* ------------------------------- */
/*  CTA FINAL - RESPONSIVE  */
/* ------------------------------- */

@media screen and (min-width: 1600px) {
    #cta-final {
        height: 600px;
    }

    #logo-area .text-part-1 {
        font-size: 52px;
    }

    #logo-area .text-part-2 {
        font-size: 48px;
    }

    .rettangolo {
        width: 350px;
        height: 350px;
        top: 15%;
    }

    #cta-area img {
        width: 350px;
        height: 350px;
        top: 10%;
        right: 0;
    }
}

@media screen and (max-width: 1150px) {
    #logo-area .text-part-1 {
        font-size: 38px;
    }

    #logo-area .text-part-2 {
        font-size: 38px;
    }

    .rettangolo {
        width: 280px;
        height: 280px;
    }

    #cta-area img {
        width: 280px;
        height: 280px;
    }
}

@media screen and (max-width: 1050px) {

    #logo-area .text-part-1 {
        font-size: 32px;
    }

    #logo-area .text-part-2 {
        font-size: 32px;
    }

    .rettangolo {
        width: 250px;
        height: 250px;
    }

    #cta-area img {
        width: 250px;
        height: 250px;
    }
}

@media screen and (max-width: 950px) {
    #cta-final {
        flex-direction: column;
        align-items: center;
        margin: 100px auto 200px;
    }

    .container-img {
        display: none;
    }

    #logo-area {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    #cta-area {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 350px;
        padding-bottom: 120px;
    }

    .rettangolo {
        width: 280px;
        height: 250px;
        border: 1px solid var(--color-oro);
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
    }

    #cta-area img {
        width: 270px;
        height: 270px;
        position: absolute;
        top: 40px;
        left: 55%;
        transform: translateX(-50%);
        z-index: 1;
    }

    #typing-text {
        text-align: center;
        width: 100%;
    }

    #cta-area a {
        position: absolute;
        bottom: -100px;
        left: 50%;
        transform: translateX(-50%);
    }

    #logo-area div h2,
    #cta-area a {
        margin-bottom: 30px;
    }
}

/* Tablet medio */
@media screen and (max-width: 768px) {
    #cta-final {
        padding: 30px 15px;
    }

    #logo-area {
        margin-bottom: 20px;
    }

    #cta-area {
        min-height: 320px;
        padding-bottom: 100px;
    }

    .rettangolo {
        width: 250px;
        height: 230px;
        top: 15px;
    }

    #cta-area img {
        width: 240px;
        height: 250px;
        top: 30px;
    }

    #cta-area a {
        left: 48%;
    }
}

/* Mobile */
@media screen and (max-width: 480px) {
    #cta-final {
        padding: 20px 10px;
    }

    #logo-area {
        margin-bottom: 20px;
    }

    #cta-area {
        min-height: 280px;
        padding-bottom: 90px;
    }

    .rettangolo {
        width: 220px;
        height: 210px;
        top: 5px;
    }

    #cta-area img {
        width: 210px;
        height: 220px;
        top: 25px;
    }

    #typing-text {
        font-size: 0.9em;
    }

    #cta-area a {
        left: 43%;
        width: 80%;
    }
}