#cta-final {
    margin: 200px auto;
    width: 90vw;
    display: flex;

    height: 500px;
}

#logo-area {
    width: 50%;
    height: 100%;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#cta-area {
    display: flex;
    width: 50%;
    height: 100%;
    position: relative;
}

.container-img {
    width: 30%;
    height: 100%;
}

#logo-area div h2 {
    font-size: 42px;
    font-weight: bolder;
    margin: 0;
}

#logo-area div h2 span {
    color: var(--color-oro);
}

.rettangolo {
    width: 300px;
    height: 300px;
    border: 1px solid var(--color-oro);
    position: absolute;
    top: 15%;
    /* left: 50%; */
    right: 3%;
}

#cta-area img {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 10%;
    /* left: 53%; */
    right: 0;
    z-index: 1;
}

#cta-area a {
    /* margin-top: auto;
    margin-left: auto;
    margin-right: 65px; */
    position: absolute;
    bottom: 0;
    right: 0;
}

#logo-area div h2,
#cta-area a {
    margin-bottom: 30px;
}