#dove-ci-troviamo {
    margin: 200px 0 0;
    width: 100%;
}

#container-dct {
    width: 100%;
    min-height: 600px;
    max-height: 700px;
    position: relative;
    border-top-left-radius: 120px;
    border-bottom-right-radius: 120px;
    overflow: hidden;
    /* box-shadow: 0 0 20px rgba(212, 175, 55, 0.8), 
                0 0 40px rgba(245, 230, 224, 0.6), 
                0 0 60px rgba(212, 175, 55, 0.4); */
}

#container-dct::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.60);
    z-index: 1;
}

#container-dct img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content-wrapper {
    position: absolute;
    inset: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    padding: 60px;
    gap: 40px;
}

/* Colonne */
.content-left,
.content-right {
    flex: 1;
    min-width: 0;
}

.map-wrapper {
    height: 260px;
    min-height: 260px;
    min-height: 300px;
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.12);
    border: 1px solid #ddd;
}

.map-container {
    width: 100%;
    height: 100%;
}

.responsive-dct {
    display: none;
}

.desktop-dct {
    display: block;
}

.content-wrapper h2 {
    margin-bottom: 20px;
    font-size: 32px;
    color: var(--color-oro);
}

.content-wrapper .retta {
    position: static;
    width: 30%;
    height: 3px;
    background-color: var(--color-oro);
    margin: 10px 0 30px;
}

.content-right p {
    margin-bottom: 30px;
    line-height: 1.6;
    color: #ffffff;
}

.content-right .button-form {
    margin: 0;
    width: fit-content;
}

@media screen and (min-width: 1600px) {
    .map-wrapper {
        height: 480px;
        min-height: 480px;
    }
}

@media (max-width: 900px) {
    .content-wrapper {
        flex-direction: column;
        padding: 40px 20px;
        gap: 30px;
    }

    #container-dct {
        height: 700px;
    }

    .content-left {
        width: 100%;
    }

    .map-wrapper {
        height: 260px;
        min-height: 260px;
    }

    .desktop-dct {
        display: none;
    }

    .responsive-dct {
        display: block;
    }

    .content-wrapper h2 {
        font-size: 28px;
        text-align: center;
    }

    .content-wrapper .retta {
        margin: 10px auto 30px;
        width: 80px;
    }

    .content-right p {
        text-align: center;
    }


    .content-right a {
        margin: 0 auto;
    }

    .content-right .button-form {
        margin: 0 auto;
        width: fit-content;
    }
}

@media (max-width: 480px) {
    #dove-ci-troviamo {
        margin-top: 120px;
    }

    .map-wrapper {
        height: 220px;
        min-height: 220px;
    }
}