footer {
    background-color: var(--color-btn-banner);
}

#footer-container {
    margin: 0 auto;
    width: 90vw;
    padding-top: 50px;
}

#anchor {
    display: flex;
    margin-top: 20px;
    align-items: center;
    gap: 100px;
}

#anchor-img {
    width: 20%;
    margin-left: 100px;
}

#anchor-link {
    display: flex;
    justify-content: space-around;
    margin-right: 100px;
    margin-left: 250px;
    width: 70%;
}

#footer-container .retta {
    width: 70%;
    background-color: var(--color-oro);
    position: static;
    margin: 30px auto;
}

#social {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#social .cerchio {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--color-background);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cerchio svg {
    width: 100%;
    height: 40%;
    transition: 0.3s ease-in-out;
}

#credit {
    padding: 30px 0;
    display: flex;
    justify-content: center;
    gap: 50px;
}

#credit a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.cerchio svg:hover {
    transform: scale(1.15);
    transition: 0.2s ease-in-out;
    color: var(--color-oro);
    cursor: pointer;
}