#area-form {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    margin: 200px auto;
}

#tag-contact {
    width: 50%;
    min-height: 500px;
    align-content: center;
}

#tag-contact h2 {
    font-size: 32px;
    color: var(--color-nero-scritte);
}

#form-contact {
    width: 50%;
    min-height: 500px;
}

.ballon-row {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 100px;
    margin: 50px 0;
}

.ballon {
    padding: 20px 40px;
    text-align: center;
    align-content: center;
    border-radius: 150px;
    background-color: var(--color-btn-banner);
}

.ballon p:nth-child(1) {
    font-size: 28px;
    color: var(--color-oro);
    margin-bottom: 10px;
}

.ballon p:nth-child(2) {
    font-size: 24px;
    font-weight: bold;
    color: var(--color-nero-scritte);
}

#form-container {
    width: 60%;
    margin-left: auto;
    padding: 30px 20px;
    background-color: var(--color-btn-banner);
    border-radius: 100px;
}

#form-container h2 {
    font-size: 32px;
    color: var(--color-nero-scritte);
    text-align: center;
}

.form-input {
    display: flex;
    width: 100%;
    margin-bottom: 30px;
}

.fild-input {
    width: 80%;
    height: 30px;
    border-radius: 50px;
    border: none;
    padding: 10px 20px;
    margin: 0 auto;
    min-height: 50px;
}

textarea {
    min-height: 100px;
}

.fild-input:focus {
    border-color: var(--color-oro);
    box-shadow: 0 0 4px var(--color-oro);
    outline: none;
}

.button-form {
    display: block;
    width: 80%;
    min-width: 100px;
    min-height: 30px;
    text-align: center;
    align-content: center;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 0 auto;
    margin-bottom: 30px;
    background-color: var(--color-background);
    border-radius: 50px;
    border: none;
    text-decoration: none;
    color: var(--color-oro);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.button-form:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

@media screen and (max-width:1354px) {
    .ballon-row {
        gap: 20px;
    }

    .ballon {
        padding: 10px 20px;
    }

    .ballon p:nth-child(1) {
        font-size: 24px;
        margin-bottom: 5px;
    }

    .ballon p:nth-child(2) {
        font-size: 20px;
    }

    #form-container {
        margin-right: 0;
        padding: 30px 20px;
    }
}

@media screen and (max-width:827px) {
    #area-form {
        flex-direction: column;
        align-items: center;
    }

    #tag-contact {
        width: 100%;
        min-height: 300px;
        align-content: center;
    }

    #form-contact {
        width: 100%;
        min-height: 500px;
        align-content: center;
    }

    #form-container {
        width: 100%;
        background-color: var(--color-btn-banner);
        border-radius: 100px;
        min-height: 500px;
        padding: 0;
    }

    #form-container h2 {
        padding: 30px 0 20px;
    }

    .button-form {
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 500px) {
    #form-container h2 {
        font-size: 24px;
        word-wrap: break-word;
    }

    .fild-input {
        width: 70%;
    }

    .button-form {
        width: 70%;
    }
}

@media screen and (max-width: 400px) {
    #form-container h2 {
        font-size: 28px;
    }

    #form-span {
        display: none;
    }
}