@import './box_number.css';
@import './hero_slider.css';

header {
    height: 100vh;
    height: 100dvh;
}

.header {
    height: 100%;
    position: relative;
    overflow: hidden;
}

#overlay {
    height: 100%;
    background-color: #04040456;
}

/* RIMOZIONE DELL'OVERLAY COME DA RICHIESTA */
#hero-img #overlay {
    background-color: #04040400;
}

#hero-img {
    height: 100%;
    position: relative;
}

.hero-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.hero-background-next {
    opacity: 0;
    pointer-events: none;
}

.hero-background-next.fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

#hero-section {
    width: 80%;
    max-width: 1200px;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0 20px;
    transform: translate(-50%, -50%);
}

.btn-scopri {
    position: absolute;
    margin-bottom: 10px;
    bottom: 32px;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3.40px;
    font-size: 24px;
    color: #ffffff;
    font-style: italic;
}

.scroll-button {
    animation: bounce-down-up 2s infinite ease-in-out;
    transition: transform 0.3s;
}

/* ANIMAZIONE BOTTONE */
@keyframes bounce-down-up {
    0% {
        transform: translate(-50%, 0);
    }

    30% {
        transform: translate(-50%, 25px);
    }

    60% {
        transform: translate(-50%, 0);
    }

    100% {
        transform: translate(-50%, 0);
    }
}

@media screen and (max-width: 425px) {
    #hero-section {
        top: 55%;
    }
}