@import './box_number.css';
@import './hero_slider.css';

header {
    height: 100vh;
}

.header,
#hero-img,
#overlay {
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}

.header {
    height: 70%;
    position: relative;
    overflow: hidden;
}

#overlay {
    height: 100%;
    background-color: #0404048c;
}

#hero-img {
    height: 100%;
    position: relative;
}

.hero-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: opacity 0.5s ease-in-out;
    z-index: -1;
}

.hero-background.fade-out {
    opacity: 0;
}

.hero-background.fade-in {
    opacity: 1;
}

#hero-section {
    width: 80%;
    max-width: 1200px;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0 20px;
    transform: translate(-50%, -50%);
}

.text-area {
    margin-top: auto;
    color: var(--color-oro);
}

.text-area h2 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color: var(--color-oro);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    font-family: 'Poppins', sans-serif;
    margin: 20px 0;
}

.button-area {
    margin-top: auto;
    padding: 16px 0;
    display: flex;
    justify-content: center;
}

.animate-title {
    opacity: 0;
    animation: slideFromTop 1.5s ease-out forwards;
}

.animate-text {
    opacity: 0;
    animation: slideFromBottom 1.5s ease-out forwards;
    animation-delay: 0.3s;
}

@media screen and (min-width: 1600px) {
    .header {
        height: 70%;
    }

    .text-area h2 {
        font-size: 42px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        height: 70%;
    }
}

@media screen and (max-width: 425px) {
    #hero-section {
        top: 55%;
    }
}

@media screen and (max-width: 375px) {
    .header {
        height: 80%;
    }

    .button-area {
        flex-direction: column;
    }

    .button-area a {
        margin-top: 10px;
    }
}