#hero-slider {
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 48px;
}

#hero-box-area {
    margin: 50px auto 0;
    height: 100%;
    width: 100vw;
    border-radius: 0px;
    background-color: var(--color-btn-banner);
    overflow: hidden;
}

#hero-conteiner-box-area {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.hero-single-box-area {
    width: calc((100% - 30px) / 4);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-single-box-area p {
    font-size: 32px;
    font-weight: bold;
}

.hero-single-box-area span {
    font-size: 28px;
    color: var(--color-oro);
}

.hero-single-box-area:nth-child(n+5) {
    display: none;
}

@media screen and (min-width: 1800px) {
    #hero-slider {
        width: 100%;
        height: 80px;
        position: absolute;
        bottom: 48px;
    }

    .hero-single-box-area p {
        font-size: 42px;
    }

    .hero-single-box-area span {
        font-size: 38px;
    }
}

@media screen and (max-width: 870px) {
    .hero-single-box-area p {
        font-size: 28px;
    }

    .hero-single-box-area span {
        font-size: 23px;
    }
}

@media screen and (max-width: 768px) {
    .hero-single-box-area:nth-child(n+4) {
        display: flex;
    }

    #hero-conteiner-box-area {
        width: max-content;
        animation: scrollInfinite 8s linear infinite;
    }

    .hero-single-box-area {
        width: 250px;
        flex-shrink: 0;
    }

    @keyframes scrollInfinite {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(calc(-250px * 4));
        }
    }
}

@media screen and (max-width: 480px) {
    .hero-single-box-area p {
        font-size: 24px;
    }

    .hero-single-box-area span {
        font-size: 18px;
    }
}

@media screen and (max-width: 375px) {
    #hero-slider {
        width: 100%;
        height: 50px;
        position: absolute;
        bottom: 48px;
    }

    .hero-single-box-area p {
        font-size: 24px;
    }

    .hero-single-box-area span {
        font-size: 18px;
    }
}