nav {
    width: 80vw;
    height: 60px;
    margin: 0 auto;
    padding: 5px 0;
    border-radius: 50px;
    position: fixed;
    top: 30px;
    right: 50px;
    left: 50px;
    background-color: var(--color-btn-banner);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    z-index: 1005;
}

.link-header {
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    padding: 5px;
    color: var(--color-oro);
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.link-header::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--color-oro);
    transition: width 0.3s ease-in-out;
    transform: translateX(-50%);
}

.link-header:hover::after {
    background-color: var(--color-oro);
    width: 100%;
}

.link-header:hover {
    transform: scale(1.05);
}