@import './article.css';

#accessori-correlati,
#articoli-correlati,
#info-product {
    width: 80%;
    margin: 100px auto 100px;
    display: flex;
    flex-direction: column;
}

#articoli-correlati {
    width: 80%;
    margin: 100px auto 100px;
}

#accessori-correlati .bs-card:nth-child(odd) {
    margin-top: 0;
}

#accessori-correlati .bs-card:nth-child(even) {
    margin-bottom: 0;
}

#accessori-correlati h2,
#articoli-correlati h2,
#info-product h2 {
    color: var(--color-oro);
    text-align: center;
    margin-bottom: 10px;
}

#info-product h2 {
    margin-bottom: 30px;
}

#info-product h4 {
    color: var(--color-oro);
}

#info-product img {
    height: 300px;
}

.info-area {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.info-box {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.info-box span {
    color: var(--color-nero-scritte);
}

#articoli-correlati h2 {
    margin-bottom: 30px;
}

#accessori-correlati p {
    text-align: center;
    margin-bottom: 30px;
    font-size: 18px;
}

#accessori-correlati .button-link,
#articoli-correlati .button-link {
    width: fit-content;
    margin: 0 auto;
}

#accessori-correlati .retta,
#articoli-correlati .retta,
#info-product .retta {
    display: none;
}

@media screen and (max-width: 825px) {

    #accessori-correlati .button-link,
    #articoli-correlati .button-link {
        margin: 40px auto;
    }

    #articoli-correlati .product-card {
        min-width: 280px;
        width: 280px;
        height: 380px;
        flex-shrink: 0;
        scroll-snap-align: start;
        margin: 0 !important;
    }
}

@media screen and (max-width: 700px) {
    .info-area {
        flex-direction: column;
    }
}

@media screen and (max-width: 425px) {

    #accessori-correlati,
    #articoli-correlati,
    #info-product {
        width: 95%;
    }

    #accessori-correlati .bs-card {
        margin-bottom: 0;
    }

    #accessori-correlati h2,
    #articoli-correlati h2,
    #info-product h2 {
        text-align: start;
    }

    #accessori-correlati p,
    #articoli-correlati p {
        text-align: start;
    }

    #accessori-correlati .retta,
    #articoli-correlati .retta,
    #info-product .retta {
        display: block;
        width: 30%;
        background-color: var(--color-oro);
        position: static;
        left: 0;
        margin-bottom: 10px;
    }

    #articoli-correlati h2,
    #info-product h2 {
        margin-bottom: 10px;
    }

    #articoli-correlati .retta,
    #info-product .retta {
        height: 1.5px;
        margin-bottom: 30px;
    }
}