.scroll-to-top-button {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 15px;
    width: 40px;
    height: 40px;
    color: var(--color-nero-scritte);
    border-radius: 50%;
    background-color: var(--color-background);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    border: 2px solid var(--color-nero-scritte);
}

.scroll-to-top-button:hover {
    transform: scale(1.15);
    color: var(--color-oro);
    border-color: var(--color-oro);
}

.visible {
    visibility: visible;
    opacity: 1;
}

.svg-inline--fa {
    width: 1rem;
    height: 1rem;
}