@import './best_seller.css';
@import './products_list.css';

#catalogue-description {
    width: 80%;
    margin: 0 auto;
}

#desciption-container {
    margin: 200px 0 200px;
    display: flex;
    align-items: center;
    height: 150px;
}

#desciption-container h2 {
    width: 39%;
    font-size: 42px;
    color: var(--color-oro);
}

#desciption-container p {
    width: 60%;
    font-size: 22px;
    border-left: 3px solid var(--color-oro);
    padding-left: 10px;
}

@media screen and (max-width: 1000px) {
    #desciption-container p {
        width: 60%;
        font-size: 18px;
    }
}

@media screen and (max-width: 825px) {
    #desciption-container {
        flex-direction: column;
        align-items: normal;
        height: fit-content;
    }

    #desciption-container h2 {
        width: 70%;
        border-bottom: 2px solid var(--color-oro);
        padding-bottom: 20px;
    }

    #desciption-container p {
        width: 100%;
        font-size: 22px;
        border-left: none;
        padding-top: 20px;
    }
}

@media screen and (max-width: 425px) {
    #desciption-container h2 {
        font-size: 32px;
    }
}