#what-they-say {
    margin: 200px auto;
    width: 90vw;
}

#what-they-say h2 {
    color: var(--color-oro);
    text-align: center;
    font-size: 42px;
    font-weight: bolder;
}

.box-wts {
    width: 80%;
    height: 400px;
    background-color: var(--color-btn-banner);
    margin: 0 auto;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.recensione {
    width: calc((90% - 150px) / 3);
    height: 300px;
    margin: 0 25px;
    border-radius: 60px;
    background-color: var(--color-background);
}

.header-rec {
    width: 100%;
    height: 35%;
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.header-rec h3 {
    color: var(--color-oro);
    font-size: 21px;
}

.recensione .cerchio-wts {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 20px;
    overflow: hidden;
}

.recensione .cerchio-wts img {
    object-fit: cover;
    height: 100%;
}

.recensione p {
    margin: 10px 20px;
    font-size: 18px;
    letter-spacing: 0.4px;
}