@import './css/colors.css';
@import './css/header.css';
@import './css/home.css';

/* RESET */
body {
  background-color: var(--color-background);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 99vw;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
}

::selection {
  background-color: var(--color-oro);
  color: #ffffff;
}

/* STYLE */
#logo-official {
  mix-blend-mode: multiply;
}

.button-link {
  display: inline-block;
  min-width: 100px;
  min-height: 30px;
  text-align: center;
  align-content: center;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px 20px;
  margin: 0px 20px;
  background-color: var(--color-btn-banner);
  border-radius: 50px;
  text-decoration: none;
  color: var(--color-oro);
}