@import './css/colors.css';
@import './css/navigation_bar.css';
@import './css/header.css';
@import './css/sponsor_banner.css';
@import './css/home.css';
@import './css/company.css';
@import './css/contacts.css';
@import './css/footer.css';

/* RESET */
body {
  background-color: var(--color-background);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
}

::selection {
  background-color: var(--color-oro);
  color: #ffffff;
}

/* COMMON */
.d-none {
  display: none;
}

/* STYLE */
P {
  color: var(--color-nero-scritte);
}

#logo-official {
  mix-blend-mode: multiply;
}

.button-link {
  display: inline-block;
  min-width: 100px;
  min-height: 30px;
  text-align: center;
  align-content: center;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px 20px;
  margin: 0px 20px;
  background-color: var(--color-btn-banner);
  border-radius: 50px;
  border: none;
  text-decoration: none;
  color: var(--color-oro);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.button-link:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

@media screen and (min-width: 1600px) {
  .button-link {
    font-size: 2rem;
    padding: 20px 40px;
    margin: 0px 20px;
  }
}